.earn {
  .details {
    margin-top: 20px;
    opacity: 50%;
  }

  .form {
    input {
      font-size: 20px;

      &.code {
        font-size: 35px;
      }

      &.link {
        font-size: 16px;
      }
    }
  }

  .earned-ether {
    font-size: 50px;
    font-weight: bold;
  }
}
