.earn {
  .details {
    margin-top: 20px;
    margin-bottom: 20px;

    img {
      margin-bottom: 20px;
      opacity: 30%;
    }
  }

  .form {
    gap: 15px;
    input {
      font-size: 20px;

      &.code {
        font-size: 35px;
      }

      &.link {
        font-family: sans-serif;
        color: $diamond;
        // font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .earned-ether {
    font-size: 50px;
    font-weight: bold;
    color: $black;
  }
}
