.earn {
  margin-bottom: 50px;

  .details {
    margin-top: 20px;
    margin-bottom: 30px;

    img {
      margin-bottom: 20px;
      opacity: 30%;
    }
  }

  .form {
    gap: 15px;
    input {
      font-size: 20px;

      &.code {
        font-size: 35px;
      }

      &.link {
        font-family: sans-serif;
        color: $diamond;
        // font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .warning {
    color: $black;
    background: $diamond-light;
  }

  .earned-ether {
    font-size: 50px;
    font-weight: bold;
    color: $black;
  }
}

@media screen and (max-width: 768px) {
  .earn {
    margin-bottom: 100px;

    .about {
      width: 70%;
    }

    .form {
      width: 96%;
    }
  }
}
