@font-face {
  font-family: 'Inter';
  src: url('../../../public/fonts/Inter.ttf');
}

@font-face {
  font-family: 'Basel';
  src: url('../../../public/fonts/Basel.ttf');
}

body {
  background: white;
  font-family: Inter;
}

a {
  text-decoration: none;
}

.micro-header {
  margin-bottom: 7px;
  font-size: 14px;
  color: gray;
}

input {
  all: unset;
  width: 100%;
  font-family: Basel;
  font-size: 18px;
  color: $black;

  &[type='checkbox'] {
    width: 20px;
    height: 20px;
  }
}

button {
  all: unset;
  padding: 12px;
  background: $diamond-lightest;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: not-allowed;
  }

  &.mini {
    padding: 0;
  }
}

.horizontal-line {
  height: 1px;
  background: gray;
}

.unavailable {
  opacity: 30%;
  pointer-events: none;
}

.toasts {
  font-size: 16px;
  word-break: break-word;
}

.form {
  gap: 10px;
  padding: 16px;
  margin-bottom: 6px;
  border-radius: 18px;
  background: $light-gray;
  width: 460px;
  font-size: 14px;
  color: $dark-gray;

  &:hover {
    box-shadow: inset 0 0 0 1px #f0f0f0;
  }
}

.low-opacity {
  opacity: 50%;
}

/* FLEX TEMPLATES */

.flex {
  display: flex;
}

.flex.row {
  flex-direction: row;
}

.flex.column {
  flex-direction: column;
}

.flex.wrap {
  flex-wrap: wrap;
}

.flex.nowrap {
  flex-wrap: nowrap;
}

.flex.start {
  justify-content: flex-start;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.center {
  justify-content: center;
  align-items: center;
}

.flex.center-vertical {
  justify-content: center;
}

.flex.center-baseline {
  align-items: center;
}

.flex.end {
  justify-content: flex-end;
}

.flex.baseline {
  align-items: baseline;
}

.flex.gapped {
  gap: 10px;
}
