.header {
  padding: 10px 20px 14px 20px;
  margin-bottom: 40px;
}

.menu {
  padding: 10px;

  > a {
    color: $dark-gray;
    padding: 9px 14px 9px 14px;

    &:hover {
      background: $light-gray;
      border-radius: 12px;
    }

    &.active {
      color: $black;
    }
  }
}

.menu-mobile {
  display: none;
}

button {
  &.chain-selector {
    background: none;
    height: fit-content;
    gap: 4px;
    padding: 9px 12px 9px 9px;
    &:hover {
      background: $light-gray;
      border-radius: 12px;
    }
  }

  &.wallet {
    background: none;
    font-family: Inter;
    margin-right: -9px;
    padding: 9px 12px;
    border-radius: 20px;
    color: $black;

    &:hover {
      background: $light-gray;
    }

    .avatar {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $medium-gray;
    }
  }

  &.connect {
    color: $diamond;
    border-radius: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 10px 10px 10px;
    margin-bottom: 20px;

    .right {
      gap: 20px;

      .chain-selector,
      .wallet {
        padding: 0;
        margin-right: 0;
      }
    }
  }

  .menu {
    display: none;
  }
}
