.holding {
  .unmatched-network {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background: orange;
  }

  .form {
    &.wide {
      padding: 40px;
    }

    .token-name {
      font-size: 26px;
      font-weight: bold;
    }

    .progress {
      width: 75%;
      border: 1px solid lightgray;
      padding: 10px;
    }

    .finalized {
      width: 75%;
      border: 1px solid lightgray;
      padding: 10px;
    }

    .progress-bar {
      height: 20px;
      background: lightgray;

      .elapsed {
        min-height: 100%;
        background: blue;
      }
    }

    .buttons {
      button {
        width: 100%;
      }
    }
  }

  .result-info {
    width: 500px;
  }
}
