.hold {
  .holding-types {
    width: 460px;
    margin-bottom: 16px;

    img {
      opacity: 50%;
      margin-right: 5px;
    }

    button {
      &.deposit-tab {
        border-radius: 20px;
        background: white;
        color: $dark-gray;

        &.active {
          color: $black;
          background: $medium-gray;
          img {
            opacity: 100%;
          }
        }

        &:hover {
          opacity: 70%;
        }
      }
    }
  }

  .form {
    input {
      font-size: 20px;

      &.amount {
        font-size: 35px;
      }
    }

    .token-balance {
      margin-left: 3px;

      &:hover {
        cursor: pointer;
      }
    }

    .pick-tokens,
    .date-slider,
    .price-slider {
      gap: 20px;

      .left {
        width: 80%;
      }
    }

    .date-slider,
    .price-slider {
      .right {
        width: 20%;
      }
    }

    .pick-token {
      padding: 8px 14px;
      padding-right: 8px;
      gap: 5px;
      background: white;
      border: 1px solid #22222212;
      box-shadow: #2222220a 0px 0px 10px 0px;
      border-radius: 26px;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 20px;
      color: $black;

      &:hover {
        background: $light-gray;
      }
    }

    &.discount {
      margin-top: 0;
      margin-bottom: 20px;

      input {
        width: 150px;
      }
    }
  }

  .fee {
    margin-bottom: 20px;
  }

  .buttons {
    text-align: center;
    gap: 20px;
    width: 460px;
    height: 58px;
    font-family: Basel, sans-serif;
    font-weight: 600;
    font-size: 20px;

    button {
      width: 100%;
      border-radius: 18px;
      color: white;
      background-color: $diamond;
      opacity: 85%;

      &:hover {
        opacity: 100%;
      }

      &:disabled {
        background: $light-gray;
        color: $dark-gray;
      }
    }
  }

  .result-info {
    width: 460px;
    margin-top: 10px;
    font-size: 14px;
    color: $dark-gray;
  }
}
