@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  width: 65px;
  height: 65px;
  stroke: #cecece;
  fill: #cecece;
  animation: rotate 2s linear infinite;
}
