.any-modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.any-modal {
  width: 400px;
  padding: 33px;
  background: white;
  border: 1px solid black;
}

.any-modal-header {
  margin-bottom: 20px;
}

.pick-token-modal {
  gap: 20px;

  .search-field {
    width: 80%;
  }

  .default-tokens {
    .token {
      padding: 10px;
      border: 1px solid gray;
      width: fit-content;

      &:hover {
        cursor: pointer;
        background: gray;
      }
    }
  }

  .switch-chain {
    gap: 4px;
    background: $light-gray;
    border-radius: 10px;
    padding: 10px 13px 10px 7px;

    &:hover {
      cursor: pointer;
    }
  }

  .search-results {
    .token-found {
      &:hover {
        background: gray;
        cursor: pointer;
      }
    }
  }
}

.confirm-deposit-modal {
  .micro-header {
    margin-bottom: 7px;
  }

  .target {
    margin-bottom: 20px;

    .token-amount {
      font-size: 35px;

      > :first-child {
        margin-right: 10px;
      }
    }

    .token-symbol {
      font-size: 20px;
    }
  }

  .tx-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.confirm-deposit-waiting {
  .info {
    > :first-child {
      margin-bottom: 20px;
    }

    margin-top: 15px;
    margin-bottom: 50px;
  }
}
