.any-modal-background {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.any-modal {
  width: 420px;
  max-height: 80vh;
  border-radius: 20px;
  padding: 20px;
  background: white;
  border: 1px solid #22222212;
  box-shadow: #3335480a 8px 12px 20px, #33354805 4px 6px 12px,
    #3335480a 4px 4px 8px;
}

.any-modal-header {
  margin-bottom: 15px;
  h1 {
    font-size: 20px;
    font-weight: 600;
  }
}

.close-modal-icon {
  &:hover {
    cursor: pointer;
    opacity: 70%;
  }
}

.pick-token-modal {
  gap: 20px;

  .search-field {
    width: 80%;
    background: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: 12px;

    img {
      margin-left: 10px;
      margin-right: 7px;
    }

    input {
      font-size: 16px;
      &::placeholder {
        opacity: 70%;
      }
    }
  }

  .default-tokens {
    .token {
      width: fit-content;
      padding: 8px 14px;
      background: white;
      border: 1px solid rgba(34, 34, 34, 0.0705882353);
      border-radius: 26px;
      font-family: sans-serif;
      font-weight: 600;
      font-size: 16px;
      color: #222;

      &:hover {
        cursor: pointer;
        background: $light-gray;
      }
    }
  }

  .switch-chain {
    gap: 4px;
    background: $light-gray;
    border-radius: 10px;
    padding: 10px 13px 10px 7px;

    &:hover {
      cursor: pointer;
    }
  }

  .search-results {
    gap: 15px;

    .token-found {
      padding: 10px 0;

      .token-name {
        .name {
          font-weight: 600;
        }
        .symbol {
          font-size: 12px;
          color: $dark-gray;
        }
      }

      &:hover {
        .name {
          color: $diamond;
        }
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
}

.confirm-deposit-modal {
  .micro-header {
    margin-bottom: 7px;
  }

  .target {
    margin-bottom: 20px;

    .token-amount {
      font-size: 35px;
      font-family: sans-serif;

      > :first-child {
        margin-right: 10px;
      }
    }

    .token-price-under,
    .token-x-under,
    .token-date-under {
      margin-top: 3px;
      color: $dark-gray;
    }
  }

  .tx-details {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.confirm-deposit-waiting {
  .info {
    > :first-child {
      margin-bottom: 20px;
    }

    margin-top: 15px;
    margin-bottom: 50px;
  }
}
